:root {
  --white: #fff;
  --black: #000;
  --purple: #6C63FF;
  --purple-hover: #534CC2;
  --input-text-placeholder: #C3C1E5;
  --text-deleted: #353535;
}
.flex {
  display: flex;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}
position-relative {
  position: relative;
}
body {
  background-color: var(--white);
  display: flex;
  justify-content: center;
}

.container .title h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

.TodoApp {
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  /* box-shadow: 0 0 2px #f77db2; */
  /* overflow: hidden; */
}

.TodoApp .item-box {
  max-height: calc(80vh - 2rem);
  margin: 1rem 3rem;
  overflow-y: auto;
}
.TodoApp .search-box {
  width: 100%;
  display: flex;
}

form input {
  font-size: 16px;
  border: 1px solid var(--purple);
  border-radius: 4px;
  padding-left: 8px;
  width: 60vw;
  outline: none;
  color: var(--text-deleted);
}
form input::placeholder {
  color: var(--input-text-placeholder);
}

.todo-items {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 10px;
  border-bottom: 1px solid var(--purple);
  /* border-radius: 4px; */
  font-size: 18px;
}

input[type="checkbox"] {
  /* display: none; */
  width: 23px;
  height: 23px;
  margin: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ckeckmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--purple);
  margin-right: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--purple);
  background-color: var(--white);
  cursor: pointer;
}
input[type="checkbox"]:checked + .ckeckmark {
  color: var(--white);
  background-color: var(--purple);
}
button {
  margin-left: 5px;
  border: none;
  outline: transparent;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
  /* font-size: 18px; */
  background-color: transparent;
  color: var(--input-text-placeholder);
}
button:hover {
  background-color: transparent;
  color: var(--text-deleted);
}

button.add {
  color: var(--white);
  background-color: var(--purple);
  font-size: 28px;
  padding: 0 12px;
}

button.add:hover {
  background-color: var(--purple-hover);
}